
[class^="col-"]{
    background-color: turquoise;
    border: 1px solid black;
    min-height: 100px;
    line-height: 100px;
    text-align: center;
}

.prova{
    line-height: 30px;
    text-align: left;
}